<h1>Thank You!</h1

<p>Thank you so much for your generous donation! </p>
<p>Bring your item to Project Homeless Connect at 25 Van Ness Avenue, Suite 340, San Francisco, CA 94102. </p>
<h2> Please drop off your donation in the next 7 days </h2> 

<p> If you've changed your mind, and can't donate the item after all, please let us know.
	<button type="button" onclick="alert('Hello world!')">I can't donate this item</button>
</p>