/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */
html {
    background: slategray;
}

nav {
    background-color: aquamarine;
    color: black;
    height: 75px;
    clear: both;
}

li {
    display:inline-block;
    font-family: Verdana, Geneva, sans-serif;
    font-size: 20px;
    float: right;
    margin-right: 17px;
    
}
#nav_left {
    display:inline-block;
    float: left;
}

h1
{
    color: red;
    text-align:left;
    font-size:20pt;
}
 
table 
{
    width:100%;
    border:1px solid red;
    background-color: gainsboro;
    
}
 
th
{
    height:100px;
    border:1px solid red;
    color: #5E412F;
}
 
td
{
    border:1px solid red;
}

colors of background?
#b0e0dF
#b0e0fF
#BDEEFF
#7ab7FF

cream color of table? #FCEBB6;